# show number line
set linenumbers

# line number color
set numbercolor white

# auto indentification
set autoindent

#
set constantshow

# Title Color
set titlecolor brightmagenta

# Status Color
set statuscolor brightmagenta

# Error Color
set errorcolor brightred

# indicator bar
set indicator

# tab size
set tabsize 2

# Tabs Spaces
set tabstospaces

#
set positionlog
