[Desktop Entry]
Name=Winbox
GenericName=MikroTik Management Tool
Comment=Official Winbox for Linux
Exec=/home/meow/Downloads/WinBox
Icon=network-wired
Terminal=false
Type=Application
Categories=Network;System;
